<!DOCTYPE html>
<html>
<head>
<title>eBay | Sign Up</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script src="../Scripts/home.js"></script>
<script src="/Scripts/signup.js"></script>
</head>
<body >
	<% include header.ejs %>
	

	
	<br>



	<td class="gh-td" id=gh-as-td><div id="gh-as"></div></td>
	
	<div class="signup-body">
		<div class="form-outer-div">
			<form class="form-style" action="/addProduct" id="signup-form" method="POST">
                  <h1>Add New Product</h1>
		<div class="float-left">
					<select title="Select a Category to Update" class="category"
						size="1" id="category" name="category"> 
						<option selected="selected">Select a Category</option>
						<% if(category
						!= null){ category.forEach(function(item) {%>
						<option name="catName" value="<%= item.categoryId%>"><%=
							item.name %></option> <% console.log("name:"+item.name); });} %>
					</select>
				</div>
				<br>
				<br>
				<br>
				<br>
				
				
				<div class="float-left">
					<select title="Select a Sub category to Update"
						class="sub-category" size="1" id="sub-category"
						name="sub-category" disabled="disabled">
						<option selected="selected">Select a sub category</option>
						<!-- <% if(subCategories[0]!= null){
						subCategories[0].forEach(function(subItem) {%>
						<option name="subCatName" value="<%= subItem.categoryId%>"><%=
							subItem.name %></option> <% console.log("name:"+subItem.name); });} %> -->
					</select>
				
								<br>
								<br>
							<input id="productName" type="text" name="productName"
				placeholder="Product Name" required="required"><span
				class="requiredClass">*</span>
				
				<br>
				
				<input id="productPrice" type="text" name="productPrice"
				placeholder="Product Price" required="required"><span
				class="requiredClass">*</span>
				
				<br>
				
				<input id="productDesc" type="text" name="productDesc"
				placeholder="Product Description" required="required"><span
				class="requiredClass">*</span>
				
				<br>
				
				
				<input id="quantity" type="text" name="quantity"
				placeholder="Enter Quantity" required="required"><span
				class="requiredClass">*</span>
				
				<br>
				
				<select title="product Type"
								class="gh-sb gh-sprRetina" size="1" id="gh-cat" name="productType"><option
									selected="selected" value="0">Select Product Type</option>
								
								<option name="Selling" value="Selling">Selling</option>
								<option name="Bidding" value="Bidding">Bidding</option>
								
							</select></td>
							<br> <br>
				<br>
				<select title="item condition"
								class="gh-sb gh-sprRetina" size="1" id="gh-cat" name="itemCondition"><option
									selected="selected" value="0">Select Product Condition</option>
								
								<option name="New" value="New">New</option>
								<option name="Refurbished" value="Refurbished">Refurbished</option>
								
							</select></td>
							<br>
							
							<br> <br> Upload Image:- <input
				type="file" name="img"> <br><br> <input
				id="sbtBtn" class="btn btn-prim" type="submit"
				value="Add Product">
							<input type="hidden" name="seller" value="<%=firstName%>" >
							
							<br>
							</div>
							
		</form>					
		</div>
		
		<br>

	
	</div>
		<div class="alert-box error" id="errorMessage"><span id="error-span"></span></div>
	<div class="alert-box success" id="successMessage"><span id="success-span"></span></div>
<%- include footer.ejs %>
</body>

</html>