
<!DOCTYPE html>
<html>
<head>
<title>eBay | Home</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

</head>
<body>
	<div class="dashboard-header">
		<%- include header.ejs %>
	</div>
	
	<div class="dashboard-body" id="dashboard-body">
		<div>
			<% for(var count=0;count < category.length; count++)  { 
	   var curObj=category[count];
	   var height="398px";
	   var width="0";
	   if(curObj.categoryId==1)
	   {	
	   width="27%";
	   }
	   if(curObj.categoryId==2)
	   {
	   width="72%";
	   }
	   if(curObj.categoryId==3)
	   {
	   width="55%";
	   }
	   if(curObj.categoryId==4)
	   {
	   width="44%";
	   }
	   if(curObj.categoryId==5)
	   {
	   width="99.5%";
	   }
	
	%>
	<img src="<%=curObj.image%>" height="<%=height%>" width="<%=width%>" onclick="getSubcategories(<%=curObj.categoryId%>)">
	<% }; %>
		
		
		</div>
		
	
	<%- include footer.ejs %>
</body>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="../Scripts/home.js"></script>
</html>
