<!DOCTYPE html>
<html>
<head>
<title>eBay | Delete Product</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script src="../Scripts/home.js"></script>
<script src="/Scripts/signup.js"></script>
</head>
<body >
	<% include header.ejs %>
	

	
	<br>



	<td class="gh-td" id=gh-as-td><div id="gh-as"></div></td>
	
	<div class="signup-body">
		<div class="form-outer-div">
			<form class="form-style" action="/deleteProduct" id="signup-form"
				method="POST">
				<h1>Delete Product</h1>

				<div class="float-left">
					<select title="Select Category" class="category"
						size="1" id="category" name="category"> 
						<option selected="selected">Select a Category</option>
						<% if(category
						!= null){ category.forEach(function(item) {%>
						<option name="catName" value="<%= item.categoryId%>"><%=
							item.name %></option> <% console.log("name:"+item.name); });} %>
					</select>
				</div>
				<br>
				<br>
				<br>
				<br>
				<div class="float-left">
					<select title="Select Sub category"
						class="sub-category" size="1" id="sub-category"
						name="sub-category" disabled="disabled">
						<option selected="selected">Select a sub category</option>
						<!-- <% if(subCategories[0]!= null){
						subCategories[0].forEach(function(subItem) {%>
						<option name="subCatName" value="<%= subItem.categoryId%>"><%=
							subItem.name %></option> <% console.log("name:"+subItem.name); });} %> -->
					</select>
				</div>
				<br>
				<br>
				<br>
				<br>
				<div class="float-left">
					<select title="Select a Product to Delete"
						class="product" size="1" id="product"
						name="product" disabled="disabled">
						<option selected="selected">Select a product</option>
						<!-- <% if(subCategories[0]!= null){
						subCategories[0].forEach(function(subItem) {%>
						<option name="subCatName" value="<%= subItem.categoryId%>"><%=
							subItem.name %></option> <% console.log("name:"+subItem.name); });} %> -->
					</select>
				</div>
				</td>
				<br>
				<br>
				<br>
				<br>
				<div class="float-left">
					<input id="sbtBtn" class="btn btn-prim" type="submit"
						value="Delete Sub Category">



				</div>
		</div>
		<br>




		</form>
	</div>

<%- include footer.ejs %>

</body>

</html>