<!DOCTYPE html>
<html>
<head>
<title>eBay | Sign Up</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script src="/Scripts/signup.js"></script>
<script src="../Scripts/home.js"></script>
<script src="/Scripts/signup.js"></script>
</head>
<% include header.ejs%>
<body class="body">




	<div class="container">
		<div id="content">
			<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
				<li class="active"><a id="aproducts" href="#products"
					data-toggle="tab">Products</a></li>
				<li><a id="abuy" href="#buy" data-toggle="tab">Buy
						Products</a></li>
				<li><a id="aauction" href="#auction" data-toggle="tab">Auction Products</a></li> 

			</ul>
			<div id="my-tab-content" class="tab-content">
				<div class="tab-pane active" id="products">
					
					<div class="row header">



						<div class="col-md-12">
							<div class="row">
								<div class="table-responsive">
									<table id="tblAllProducts"
										class="table table-bordered table-striped">
										<thead>
											<tr>

												<th class="text-nowrap"><b> Category Name </b></th>
												<th class="text-nowrap"><b> Sub Category Name </b></th>
												<th class="text-nowrap"><b> Product Name </b></th>


											</tr>
										</thead>
										<% if(category_new && category_new != null && category.length
										> 0 ) { for(var i=0; i < category_new.length; i++) { %>


										<tbody>

											<tr>



												<td><%= category_new[i].cat_name %></td>

												<td><%= category_new[i].subcat_name %></td>
<td>
	<form id="form2" action="/getProductDetails?product=<%=category_new[i].prod_name%>" method="get">
												<a href="javascript:;" onclick="parentNode.submit();"><%= category_new[i].prod_name%></a>


														</a> <input type="hidden" name="product"
														value="<%=category_new[i].prod_name%>">
												
													</form></td>
												



											</tr>

										</tbody>
										<% } } %>
									</table>

								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="tab-pane" id="buy">

					<div class="row header">



						<div class="col-md-12">
							<div class="row">
								<div class="table-responsive">
									<table id="tblBuy" class="table table-bordered table-striped">
										<thead>
											<tr>

												<th class="text-nowrap"><b> Category Name </b></th>
												<th class="text-nowrap"><b> Sub Category Name </b></th>
												<th class="text-nowrap"><b> Product Name </b></th>


											</tr>
										</thead>
										<% if(category_new && category_new != null && category.length
										> 0 ) { for(var i=0; i < category_new.length; i++) {%>
                        
										<%if(category_new[i].productType==1) { %>
										
									
										<tbody>

											<tr>



												<td><%= category_new[i].cat_name %></td>

												<td><%= category_new[i].subcat_name %></td>

												<td>
	<form id="form2" action="/getProductDetails?product=<%=category_new[i].prod_name%>" method="get">
												<a href="javascript:;" onclick="parentNode.submit();"><%= category_new[i].prod_name%></a>


														</a> <input type="hidden" name="product"
														value="<%=category_new[i].prod_name%>">
												
													</form></td>



											</tr>

										</tbody>
										<% }} } %>
									</table>

								</div>
							</div>

						</div>
					</div>
				</div>
					<div class="tab-pane" id="auction">

					<div class="row header">



						<div class="col-md-12">
							<div class="row">
								<div class="table-responsive">
									<table id="tblBuy" class="table table-bordered table-striped">
										<thead>
											<tr>

												<th class="text-nowrap"><b> Category Name </b></th>
												<th class="text-nowrap"><b> Sub Category Name </b></th>
												<th class="text-nowrap"><b> Product Name </b></th>


											</tr>
										</thead>
										<% if(category_new && category_new != null && category.length
										> 0 ) { for(var i=0; i < category_new.length; i++) {%>
                        
										<%if(category_new[i].productType==2) { %>
										
									
										<tbody>

											<tr>



												<td><%= category_new[i].cat_name %></td>

												<td><%= category_new[i].subcat_name %></td>

												<td>
	<form id="form2" action="/getProductDetails?product=<%=category_new[i].prod_name%>" method="get">
												<a href="javascript:;" onclick="parentNode.submit();"><%= category_new[i].prod_name%></a>


														</a> <input type="hidden" name="product"
														value="<%=category_new[i].prod_name%>">
												
													</form></td>



											</tr>

										</tbody>
										<% }} } %>
									</table>

								</div>
							</div>

						</div>
					</div>
				</div>
				
				
			</div>
		
	</div>

</body>






			
<%- include footer.ejs %>
</html>