<div>

	<% for(var count=0;count < Products.length; count++)  { 
	   var curObj=Products[count];
	  	
	%>
		<div>
		<img src="<%=curObj.image%>" height="70" width="40">
			<span><%=curObj.name%></span>
			<span>Description: <%=curObj.description%></span>
			<span>Item condition: <%=curObj.itemCondition%></span>
			<span>Price: <%=curObj.basePrice%></span>
			
			<% if(curObj.productType==1)  {	%>
		<input type="button" value="Place a bid">
		
	<% } %>
	<% else  {	%>
	<input type="button" value="Add to shopping cart">
	<% } %>
		</div>
		<% }; %>
</div>
<%- include footer.ejs %>