<!DOCTYPE html>
<html>
<head>
	<title></title>
	
	
</head>
<script src="/Scripts/signup.js"></script>
<body>
 <div class="dashboard-header"><%- include header.ejs %> 
	</div> 
	<% var itemType=""; if(rows && rows!= null && rows.length > 0) { %>

	<div class="container">

<div  class="signup-body">
		<div id="content">
			<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">

				<li class="active" id="all"><a id="aItems" href="#allItems" data-toggle="tab">All Listings</a></li>
				<li id="bnow"><a id="aBuyItNow" href="#buyNow" data-toggle="tab">Buy It Now</a></li>
				<li id="auc"><a id="aAuctions" href="#auctions" data-toggle="tab">Auctions</a></li>
				

			</ul>
			<div id="my-tab-content" class="tab-content">
				<div class="tab-pane active" id="allItems">

					<div class="row header">

						<div class="well">
							<div class="row">
								<% rows.forEach(function(item) { %>
								<div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
									<div class="thumbnail bootsnipp-thumb">
										<div>
											<p class="pull-right view-counts hidden-md">


												<span class="label label-info" data-toggle="tooltip" title="" data-original-title="">
													<%= item.itemConditionName %></span>
												</p>
												<p class="lead snipp-title">
													<a href="/getProductDetails?product=<%= item.productName %>"> <%= item.productName %></a> 
													
												</p>
												<p><i><%= item.description %></i></p>
												<p class="boldtext">Seller: <span class="bluetext"> <%= item.sellername %></span><span style="color:red"><input type="number" data-max="5" data-min="1" data-empty-value="0" data-clearable="remove" name="sellerRating" id="sellerRating" class="rating" /></p></span>

												<p><span class="boldtext">Quantity left: </span><%= item.quantity %></p>
												<% if(item.productType==1) { %>
						<p><label class="boldtext">Buy Quantity: </label>
													<%if(item.quantity>=5){%>
												<input type="number" name="txtqty" min="1" max="5" id="s_txtqty_<%=item.productId%>" value="1">
													<%} else {%>
												<p><label class="boldtext">Buy Quantity: </label><input type="number" name="txtqty" min="1" max="<%=item.quantity%>" id="s_txtqty_<%=item.productId%>" value="1"></p>
													<%}%>
													
												<% } else { %>
												<p><label class="boldtext">Place a Bid: </label><input type="number" name="txtqty" min="<%= (item.basePrice+1) %>" max="10000" id="s_txtqty_<%=item.productId%>" ></p>
												<% } %>
												<p class="boldtext">List Price: <span class="textstrikeoff">$ <%= item.basePrice+(item.basePrice/2) %></span></p>
												<% if(item.productType==1) { %>
												<p class="boldtext"><h3>Now: US$ <%= item.basePrice %></h3></p>
												<% } else { %>
												<p class="boldtext"><h3>Current Bid: US$ <span id="s_highest-bid_<%=item.productId%>"><%= item.basePrice %></span></h3></p>
												<% } %>

											</div>

											<div class="caption">
												<p><% if(item.productType==1) { %>
													<button type="button" class="btn btn-primary center-block" onclick="placeBidOrBuyProduct(1,<%=item.productId%>)">Buy It Now</button>
													<% } else { %>
													<button type="button" class="btn btn-primary center-block" onclick="placeBidOrBuyProduct(2,<%=item.productId%>)">Place a Bid</button>
													<% } %>
													<img style="margin-left: 150px;" src="../images/paypal_logo.png" alt="PayPal" border="0"></p>
												</div>
											</div>
										</div>
										<% }); %>

									</div>
								</div>
							</div>
						</div>


						<div class="tab-pane " id="auctions">

							<div class="row header">
								<div class="well">
									<div class="row">
										<% rows.forEach(function(item) { 
											if(item.productType==2) { %>
											<div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
												<div class="thumbnail bootsnipp-thumb">
													<div>
														<p class="pull-right view-counts hidden-md">

															<span class="label label-info" data-toggle="tooltip" title="" data-original-title="">
																<%= item.itemConditionName %></span>
															</p>
															<p class="lead snipp-title">
																<a href="/getProductDetails?product=<%= item.productName %>"> <%= item.productName %></a> 
															</p>
															<p><i><%= item.description %></i></p>
															<p class="boldtext">Seller: <span class="bluetext"> <%= item.sellername %></span><span style="color:red"><input type="number" data-max="5" data-min="1" data-empty-value="0" data-clearable="remove" name="sellerRating" id="sellerRating" class="rating" /></p></span>

															<p><span class="boldtext">Quantity left: </span><%= item.quantity %></p>
															<p><label class="boldtext">Place a Bid: </label><input type="number" name="txtqty" min="<%= (item.basePrice+1) %>" max="5" id="a_txtqty_<%=item.productId%>" ></p>
															<p class="boldtext">List Price: <span class="textstrikeoff">$ <%= item.basePrice+(item.basePrice/2) %></span></p>
															<p class="boldtext"><h3>Current Bid: US$<span id="a_highest_price_<%=item.productId%>"><%= item.basePrice %></span> </h3></p>


														</div>

														<div class="caption">
															<p><button type="button" class="btn btn-primary center-block" onclick="placeBidOrBuyProduct(2,<%=item.productId%>)">Place a Bid</button><img style="margin-left: 150px;" src="../images/paypal_logo.png" alt="PayPal" border="0"></p>

														</div>
													</div>
												</div>
												<% }});  %>

											</div>
										</div>

									</div>
								</div>


								<div class="tab-pane " id="buyNow">

									<div class="row header">

										<div class="well">
											<div class="row">
												<% rows.forEach(function(item) { 
													if(item.productType==1) { %>
													<div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
														<div class="thumbnail bootsnipp-thumb">
															<div>
																<p class="pull-right view-counts hidden-md">

																	<span class="label label-info" data-toggle="tooltip" title="" data-original-title="">
																		<%= item.itemConditionName %></span>
																	</p>
																	<p class="lead snipp-title">
																		<a href="/getProductDetails?product=<%= item.productName %>"> <%= item.productName %></a> 
																	</p>
																	<p><i><%= item.description %></i></p>
																	<p class="boldtext">Seller: <span class="bluetext"> <%= item.sellername %></span><span style="color:red"><input type="number" data-max="5" data-min="1" data-empty-value="0" data-clearable="remove" name="sellerRating" id="sellerRating" class="rating" /></p></span>

																	<p><span class="boldtext">Quantity left: </span><%= item.quantity %></p>
																	<p><label class="boldtext">Buy Quantity: </label>
																	
																	
																	<%if(item.quantity>=5){%>
												<input type="number" name="txtqty" min="1" max="5" id="all_txtqty_<%=item.productId%>" value="1">
													<%} else {%>
												<input type="number" name="txtqty" min="1" max="<%=item.quantity%>" id="all_txtqty_<%=item.productId%>" value="1"></p>
													<%}%>
																	
																	
																	<p class="boldtext">List Price: <span class="textstrikeoff">$ <%= item.basePrice+(item.basePrice/2) %></span></p>
																	<p class="boldtext"><h3>Now: US$ <%= item.basePrice %></h3></p>


																</div>

																<div class="caption">
																	<p><button type="button" class="btn btn-primary center-block" onclick="placeBidOrBuyProduct(1,<%=item.productId%>)">Buy It Now</button><img style="margin-left: 150px;" src="../images/paypal_logo.png" alt="PayPal" border="0"></p>

																</div>
															</div>
														</div>
														<% }}); } %>
														<%if(rows.length==0){%>
															<span style="margin-left: 25%;">There are no products listed under this sub category. Please try another sub category.</span>
														<%}%>
													</div>
												</div>
											</div>
										</div>


									</div>
								</div>
							</div>
</div>
<%- include footer.ejs %>
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js" type="text/javascript"></script>


	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="../bootstrap/js/bootstrap-rating-input.js" type="text/javascript"></script>
	

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" type="text/css">
	
	<div class="alert-box error" id="errorMessage"><span id="error-span"></span></div>
	<div class="alert-box success" id="successMessage"><span id="success-span"></span></div>
						</body>
						
						</html>

